# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user-specific
**/xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode build
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Env / secrets
.env
*.local
